<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Sitio Django{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'home' %}">Inicio</a> | 
            <a href="{% url 'about' %}">Acerca de</a>
        </nav>
    </header>
    <hr>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <hr>
    <footer>
        <p>© 2026 - Mi Proyecto Educativo</p>
    </footer>
</body>
</html>